@import "src/fonts/fonts.scss";

.duck {
  width: 86px;
  height: 131px;
  background-image: url("../images/bird-dance.gif");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s linear infinite;
}

.centering-div {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: euphemia;
}

.center-container {
  display: flex;
  margin-left: 32vw;
  gap: 2vw;
  width: fit-content;
}

.name-and-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 181.58px; /* CHANGE ME */
  gap: 4vh;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 100;
  font-size: 63px;
}

.name-word {
  height: 75px;
}

.links {
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 2vh;
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
}

.pages-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 30px;
  gap: 1vh;
}

.link {
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.link:hover {
  opacity: 0.55;
  text-decoration: underline;
}

.link:visited {
  color: #0000EE;
}

.link:active {
  color: black;
}
